.articles {
	margin-top: 82px;
	&__list {
		margin-top: 40px;
	}
	&__item {
		width: 290px;
		max-width: 380px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	&__img {
		width: 290px;
		height: 220px;
		border-radius: 12px 12px 0 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		img {
			width: auto;
			height: auto;
		}
		&-tel {
			width: 290px;
			height: 220px;
		}
		&-dekstop {
			display: none;
			width: 380px;
			height: 250px;
		}
	}
	&__info {
		padding: 30px 25px 25px;
		background: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(35, 37, 46, 0.06);
		border-radius: 0 0 12px 12px;
	}
	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		color: $green;
	}
	&__text {
		margin-top: 15px;
		font-weight: 300;
		font-size: 14px;
		line-height: 160%;
		color: #556658;
	}
	&__link {
		margin-top: 25px;
		text-align: center;
		a {
			color: $green;
			font-size: 14px;
			line-height: 100%;
			text-decoration: underline;
		}
	}
}

@media screen and(min-width: 768px) {
	.articles {
		&__item {
			width: 380px;
		}
		&__img {
			width: 380px;
			height: 250px;
			&-tel {
				display: none;
			}
			&-dekstop {
				display: inline;
			}
		}
	}
}