.card {
	margin-top: 80px;
	&__list {
		margin-top: 42px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		&-title {
			font-weight: 600;
			font-size: 13px;
			line-height: 100%;
			color: $mainColor;
		}
		li {
			width: calc(50% - 5px);
			margin-bottom: 10px;
			background: #FFFFFF;
			box-shadow: 0px 4px 8px rgba(35, 37, 46, 0.06);
			border-radius: 12px;
			position: relative;
			top: 0;
			transition: all .3s ease; 
			&:last-child {
				width: 100%;
				br {
					display: none;
				}
			}
			&:hover,
			&:focus {
				top: -10px;
			}
		}
		a {
			display: block;
			padding: 20px 15px;
		}
	}
	&__num {
		margin-top: 15px;
		display: inline-block;
		color: $orangeColor;
		font-weight: 600;
		font-size: 24px;
		line-height: 100%;
	}
	&__text {
		margin-top: 13px;
		font-size: 12px;
		line-height: 130%;
		color: $mainColor;
	}
}

@media screen and(min-width: 768px) {
	.card {
		&__list {
			li {
				width: calc(33.3% - 7px);
				&:last-child {
					width: calc(33.3% - 7px);
				}
			}
		}
	}
}

@media screen and(min-width: 1200px) {
	.card {
		margin-top: 240px;
		&__list {
			max-width: 860px;
			margin: 0 auto;
			margin-top: 80px;
			li {
				width: 260px;
				margin-bottom: 40px;
				&:last-child {
					width: 260px;
				}
			}
			&-title {
				font-size: 22px;
				font-weight: 400;
			}
			a {
				padding: 40px 35px; 
			}
		}
		&__num {
			font-size: 36px;
			margin-top: 25px;
		}
		&__text {
			font-size: 18px; 
			padding: 0 18px;
			margin-top: 25px;
			font-weight: 300;
			br {
				display: none;
			}
		}
	}
}