.faq {
	margin-top: 77px;
	&__list {
		margin-top: 40px;
	}
	&__item {
		padding: 25px 0;
		border-bottom: 2px solid #E0E8E3;
	}
	&__open {
		display: block;
		padding-right: 25px;
		font-weight: 300;
		font-size: 15px;
		line-height: 130%;
		color: #556658;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 15px;
			height: 8px;
			background: url('../../images/icons/arrow.svg');
		}
		&--active + .faq__text {
			display: block;
		}
	}
	&__text {
		display: none;
	}
}