.footer {
	margin-top: 75px;
	background: $green;
	color: #fff;
	&__inner {
		padding-bottom: 60px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__logo {
		display: flex;
		&-dekstop {
			display: none;
		}
	}
	&__soc {
		display: flex;
		flex-wrap: wrap;
		li {
			margin-left: 8px;
			&:first-child {
				margin-left: 0;
			}
		}
		a {
			display: flex;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid #fff;
			justify-content: center;
			align-items: center;
			transition: all .3s ease;
			&:hover,
			&:focus {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
	&__menu {
		width: 100%;
		max-width: 492px;
		margin-top: 50px;
		font-weight: 300;
		font-size: 12px;
		line-height: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&-title {
			margin-bottom: 15px;
			font-weight: 600;
			font-size: 14px;
		}
		li {
			margin-bottom: 15px;
			color: rgba(#fff, 0.7);
		}
		a {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	&__bottom {
		margin-top: 38px;
		font-weight: 300;
		font-size: 13px;
		line-height: 160%;
	}
	&__copy {
		color: rgba(#fff, 0.7);
	}
	&__year {
		margin-top: 30px;
	}
}

@media screen and(min-width: 768px) {
	.footer {
		&__inner {
			padding-top: 50px;
		}
		&__logo {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: inline;
			}
		}
		&__top {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-start;
		}
		&__list {
			flex-direction: column;
			align-items: flex-start;
		}
		&__menu {
			margin-top: 0;
			font-size: 15px;
			&-title {
				font-size: 18px;
			}
		}
		&__soc {
			margin-top: 37px;
		}
		&__bottom {
			font-size: 15px;
		}
		&__copy {
			line-height: 180%;
		}
	}
}

@media screen and(min-width: 1200px) {
	.footer {
		margin-top: 145px;
		&__menu {
			li {
				margin-bottom: 20px;
			}
			&-title {
				margin-bottom: 20px;
			}
		}
		&__bottom {
			margin-top: 43px;
		}
	}
}