.order {
	margin-top: 85px;
	.container {
		padding: 0;
	}
	&__form {
		margin-top: 42px;
		&-top {
			padding: 20px 25px;
			padding-right: 0;
			border-radius: 20px;
			background: $linearBg;
			color: #fff;
			position: relative;
			z-index: 10;
			&__inner {
				width: calc(100% - 130px);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: -130px;
					width: 156px;
					height: 199px;
					background: url('../../images/order/mob.png');
				}
			}
		}
		&-about {
			font-weight: 300;
			font-size: 20px;
			line-height: 140%;
		}
		&-auto {
			margin-top: 17px;
			.order__form-choose {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-type {
			display: none;
		}
		&-choose {
			font-weight: 300;
			font-size: 15px;
			line-height: 100%;
		}
		&-checkbox {
			width: 18px;
			min-width: 18px;
			height: 18px;
			border: 1px solid #FFFFFF;
			border-radius: 3px;
			position: relative;
			margin-right: 15px;
		}
		&-label {
			cursor: pointer;
			display: inline-flex;
			align-items: flex-start;
			input {
				display: none;
			}
			input:checked ~ .order__form-checkbox::after {
				content: '';
				position: absolute;
				top: -1px;
				left: 3px;
				width: 16px;
				height: 12px;
				background: url('../../images/icons/check.svg');
			}
		}
		&-bottom {
			margin-top: -20px;
			padding-top: 37px;
			padding-bottom: 30px;
			background: #fff;
			box-shadow: 0px 8px 16px rgba(35, 37, 46, 0.06);
			border-radius: 0px 0px 20px 20px;
			&__title {
				display: block;
				text-align: center;
				font-weight: 300;
				font-size: 18px;
				line-height: 100%;
				color: $green;
			}
		}
		&-options {
			margin-top: 20px;
			border-top: 1px solid #F2F2F2;
			input:checked ~ .order__form-checkbox {
				border-color: $mainColor;
				&::after {
					background: url('../../images/icons/check-green.svg');
				}
			}
			.order__form-text {
				display: block;
				font-weight: 400;
				width: calc(100% - 100px);
				font-size: 13px;
				line-height: 140%;
			}
			.order__form-checkbox {
				margin-top: 2px;
				border-color: #E0E8E3;
			}
			.order__form-choose {
				border-bottom: 1px solid #F2F2F2;
			}
			.order__form-label {
				width: 100%;
				min-height: 66px;
				padding: 15px;
			}
		}
		&-price {
			margin-left: auto;
			font-weight: 300;
			font-size: 20px;
			line-height: 100%;
			color: $green;
		}
		&-total {
			margin-top: 25px;
		}
		&-submit {
			margin-top: 25px;
			text-align: center;
			button {
				@extend %orangeBtn;
				margin: 0 auto;
				display: flex;
				align-items: center;
				padding: 17px 25px;
				font-size: 16px;
				line-height: 100%;
			}
			span {
				margin-left: 5px;
				font-size: 24px;
			}
		}
	}
	&__renew {
		margin-top: 40px;
		padding: 30px 15px;
		background: #F9FBF9;
		border-radius: 20px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		p {
			width: calc(100% - 60px);
			max-width: 470px;
			font-weight: 300;
			font-size: 15px;
			line-height: 140%;
			color: #556658;
		}
		a {
			width: 50px;
			height: 40px;
			margin-left: 10px;
			line-height: 40px;
			text-align: center;
			border: 1px solid $green;
			color: $green;
			border-radius: 30px;
		}
	}
}

@media screen and(min-width: 1200px) {
	.order {
		margin-top: 150px;
		color: #fff;
		.section-title {
			margin-left: 70px;
		}
		&__box {
			margin-top: 128px;
			padding: 20px;
			border: 1px solid #E0E8E3;
			border-radius: 80px; 
		}
		&__form {
			margin-top: 0;
			width: 517px;
			&-top {
				padding: 0;
				background: transparent;
				&__inner {
					width: 100%;
					&::after {
						display: none;
					}
				}
			}
			&-bottom {
				margin-top: 30px;
				padding: 0;
				background: transparent;
				box-shadow: none;
				&__title {
					padding: 20px 35px;
					text-align: left;
					display: block;
					border-radius: 16px 16px 0px 0px;
					padding: 20px 35px;
					background: rgba(#FFFFFF, 0.1);
					box-shadow: 0px 8px 16px rgba(35, 37, 46, 0.06);
					font-weight: 300;
					font-size: 22px;
					line-height: 100%;
					color: #fff;
				}
			}
			&-wrapper {
				padding: 80px 129px;
				padding-left: 115px;
				border-radius: 60px;
				background: linear-gradient(102.25deg, #AEC4B1 0%, #749078 100%);
			}
			&-auto {
				margin-top: 30px;
			}
			&-info {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
			}
			&-img {
				width: 388px;
				height: 696px;
				background: url('../../images/order/iphone.png');
				background-repeat: no-repeat;
				background-size: contain;
			}
			&-text {
				font-size: 20px;
				max-width: 280px; 
			}
			&-price {
				color: #fff;
				font-size: 24px;
			}
			&-options {
				margin-top: 0;
				border-top: 0;
				input:checked ~ .order__form-checkbox {
					border-color: #fff;
					&::after {
						background: url('../../images/icons/check.svg');
					}
				}
				.order__form-choose {
					border-bottom: 0;
					&:last-child {
						.order__form-label {
							border-bottom: 0;
						}
					}
				}
				.order__form-label {
					border-bottom: 1px solid rgba(#fff, 0.1);
				}
				.order__form-text {
					font-size: 15px;
				}
			}
			&-about {
				width: 455px;
				font-size: 38px;
				line-height: 140%;
			}
			&-type {
				display: block;
				border-radius: 16px 16px 0px 0px;
				padding: 20px 35px;
				background: rgba(#FFFFFF, 0.1);
				box-shadow: 0px 8px 16px rgba(35, 37, 46, 0.06);
				font-weight: 300;
				font-size: 22px;
				line-height: 100%;
			}
			&-choose {
				padding: 0 20px;
				background: rgba(#FFFFFF, 0.06);
				&:last-child {
					border-radius: 0 0 16px 16px;
				}
			}
			&-auto {
				.order__form-choose {
					margin: 0;
					&:last-child {
						.order__form-label {
							border-bottom: 0;
						}
					}
				}
				.order__form-label {
					display: flex;
					width: 100%;
					padding: 22px 0;
					border-bottom: 1px solid rgba(#fff, 0.1);
				}
			}
			&-total {
				margin-top: 0;
			}
			&-submit {
				margin-top: 0;
			}
			&-manage {
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
			}
		}
		&__renew {
			margin-top: 50px;
			padding: 20px 50px 20px 68px; 
			background: rgba(#fff, 0.1);
			box-shadow: 0px 8px 16px rgba(35, 37, 46, 0.06);
			border-radius: 16px;
			justify-content: space-between;
			p {
				max-width: 721px;
				color: #fff;
				font-size: 24px;
				line-height: 140%;
			}
			a {
				width: 70px;
				min-height: 50px;
				line-height: 50px;
				font-size: 16px;
				color: #fff;
				border-color: #fff;
				transition: all .3s ease;
				&:hover,
				&:focus {
					background: #fff;
					color: $green;
				}
			}
		}
	}
}