.reviews {
	margin-top: 80px;
	background: $linearBg;
	border-radius: 20px;
	&__inner {
		padding: 40px 0 35px;
		color: #fff;
	}
	&__title {
		color: #fff;
	}
	&__image {
		text-align: center;
		&-dekstop {
			display: none;
		}
	}
	&__list {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}
	&__item {
		padding: 20px 0 15px;
		border-radius: 12px;
		overflow: hidden;
		background: #FFFFFF;
	}
	&__open {
		margin-top: 6px;
		text-align: center;
		color: rgba($green, 0.5);
		text-decoration: underline;
	}
	&__leave {
		margin-top: 50px;
		text-align: center;
		color: rgba(#fff, 0.5);
		text-decoration: underline;
	}
	&__descr {
		display: none;
		margin-top: 30px;
		text-align: center;
		font-weight: 300;
		font-size: 24px;
		line-height: 120%;
	}
}

@media screen  and(min-width: 768px) {
	.reviews {
		&__image {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: inline;
			}
		}
	}
}

@media screen  and(min-width: 1200px) {
	.reviews {
		margin-top: 150px;
		min-height: 825px;
		background: url('../../images/header/line-bg.png'), linear-gradient(102.25deg, #AEC4B1 0%, #749078 100%);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 60px;
		&__inner {
			padding: 100px 0;
		}
		&__descr {
			display: block;
		}
		&__list {
			margin-top: 65px;
		}
		&__item {
			min-width: 585px;
		}
		&__leave {
			font-size: 18px;
		}
	}
}