.reviews {
	margin-top: 80px;
	background: $linearBg;
	border-radius: 20px;
	&__inner {
		padding: 40px 0 35px;
	}
	&__title {
		color: #fff;
	}
	&__image {
		text-align: center;
		&-dekstop {
			display: none;
		}
	}
	&__list {
		margin-top: 40px;
		padding: 20px 0 15px;
		overflow: hidden;
		background: #FFFFFF;
		border-radius: 12px;
	}
	&__open {
		margin-top: 6px;
		text-align: center;
		color: rgba($green, 0.5);
		text-decoration: underline;
	}
	&__leave {
		margin-top: 50px;
		text-align: center;
		color: rgba(#fff, 0.5);
		text-decoration: underline;
	}
}

@media screen  and(min-width: 768px) {
	.reviews {
		&__image {
			&-tel {
				display: none;
			}
			&-dekstop {
				display: inline;
			}
		}
	}
}

@media screen  and(min-width: 1200px) {
	.reviews {
		margin-top: 150px;
	}
}