$mainColor: #8F9F91;
$orangeColor: #FF802F;
$linearBg: linear-gradient(165.08deg, #AEC4B1 0%, #749078 100%);
$green: #759178;

%orangeBtn {
	display: inline-block;
	background: $orangeColor;
	color: #fff;
	box-shadow: 0px 10px 18px rgba(255, 128, 47, 0.4);
	border-radius: 30px;
	text-align: center;
}